<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="AKQA UserForms Webhooks">
    <description>PSR-12 coding standard</description>
    <file>src</file>
    <file>tests</file>
    <rule ref="PSR12"/>
    <config name="installed_paths" value="../../squizlabs/php_codesniffer/src/Standards"/>
</ruleset>
